{% extends "blog.html" %}
{% block metatags %}
<title>Home | Khariz-Log</title>
<meta name="description" content="A destination for Learning">
<meta property="og:title" content="Resume">
<meta property="og:site_name" content="Khariz-Log">
<meta property="og:url" content="https://bimakharizdev.my.id">
<meta property="og:description" content="A destination for Learning">
<meta property="og:type" content="website">
{% endblock %}
{% block content %}
<style type="text/css">
	body {
	font-family: 'Raleway', sans-serif;    background: linear-gradient(180deg, #1e3c72 0%, #2a5298 50%, #2a5298 75%, #e0c3fc 100%);
    background-attachment: fixed;}
	.head_text {
		color: white;
	}
.h1, h4 {
font-family: 'Raleway', sans-serif;
}
#mainhome {
text-align: center; }
</style>
<header class="jumbotron" style="background-color: #BDFFD3; color: #00308F;">
	<div class="container">
	<p class="h1"> Welcome to <strong>Khariz-Log</strong></p>





				</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-md-8 mt-3 left">
			{% for post in posts_list %}
			<div class="shadow-none card mb-4" id="newsfeed">
				<div class="card-body">
					<h3 class="card-title">{{ post.title }}</h3>
					<p class="card-text text-muted h6"><span>{{ post.author.first_name }} {{ post.author.last_name }}</span> | {{ post.created_on}} </p>





					<p class="card-text">{{post.metades }}</p>





					<span><a href="{% url 'post_detail' post.slug %}" class="btn btn-outline-primary">Read More →</a></span>
				</div>
			</div>
			{% endfor %}
		</div>
</div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation container"></nav>
<ul class="pagination justify-content-center">
	{% if page_obj.has_previous %}
	<li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info" style="font-family: sans-serif;">« PREV </a></li>
	{% endif %}
	{% if page_obj.has_next %}
	<li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info" style="font-family: sans-serif;"> NEXT »</a></li>

	{% endif %}
</ul>
{% endif %}
{%endblock%}
