pyjnius
kivy
buildozer
deep-translator
mpmath==0.19
setuptools-scm
Pillow
numpy
tzdata
sqlparse
oscpy
kivy
django
beautifulsoup4
chardet
idna
urllib3
asgiref
regex
six
soupsieve
sh
colorama
toml
charset_normalizer
roman
pytz
django-cors-headers
python-dateutil
yt-dlp
pandas
matplotlib
alquran-id
langdetect
